extends ../_template

block variables
  - var title = 'Blockchain Conference'



block content
  .wr-all
    header.wr.wr1
      .block
        .logo
          img(src="assets/img/logo.png", alt="")
        .phone-box.mob-hide
          a.phone(href="tel:+74992131012",data-ya_action="click",data-ya_metrika="Number_Header_Click",data-google="y",data-ya_switch="true") +7 (499) 213-10-12
          .text звоните круглосуточно 24/7
        .btn-default.mob-hide#head_btn(data-toggle="modal", data-target="#modal-zvonok",data-ya_action="click",data-ya_metrika="Heder_OrderCall_Click",data-google="y",data-ya_switch="true") Узнать дату
    .wr.wr2
      .block
        .full-hide
          a.phone(href="tel:+74992131012",data-ya_action="click",data-ya_metrika="Number_Header_Click",data-google="y",data-ya_switch="true") +7 (499) 213-10-12
        .main-title
          | Всё о криптовалютах
          br
          |  и технологии блокчейн
        .box
          .left-box
            .subtitle
              | Самое масштабное мероприятие
              br
              |  по криптовалюте в Москве!
            .text
              | Изучите рынок криптовалют, как он устроен и как на нём
              | строить прибыльный бизнес. Как отличить перспективный
              | проект от хайпа и пирамиды, куда инвестировать
              | для заработка с минимальными рисками
            .coupon
              .plashka
                span бесплатно!
              .c-box
                .c-title Билет
                .c-subtitle на мастер-класс
          .right-box
            form.order-form(action="mailer.php", method="post")
              input(type="hidden", name="tag", value="#билет_на_мастер_класс")
              input(type="hidden", name="yandex-js", value="Saleblock_Ticket_Submit")
              input(type="hidden", name="google-js", value="y")
              .btn-group
                input.form-control(type="text",name="name",placeholder="Ваше имя",data-ya_action="click",data-ya_metrika="Saleblock_Ticket_Click",data-google="y",data-ya_switch="true")
              .btn-group
                input.form-control(type="text",name="phone",placeholder="Ваш телефон",data-ya_action="click",data-ya_metrika="Saleblock_Ticket_Click",data-google="y",data-ya_switch="true")
              .check-privacy
                input(type="checkbox",name="privacy",value="",checked="checked")
                label Нажимая на кнопку, вы даете согласие на обработку своих персональных данных  и соглашаетесь с
                span.open-privacy  Политикой конфиденциальности
              .btn-group
                button.btn-default(type="submit") Забрать билет
              .bottom-text
                |Осталось билетов:
                span.yellow  14
    .wr.wr3
      .block
        .title Для кого будет полезен мастер-класс
        .box
          .item
            .img
              img(src="assets/img/wr3-item1.png", alt="")
            .content
              | Для
              br
              |  профессиональных
              br
              |  инвесторов
          .item
            .img
              img(src="assets/img/wr3-item2.png", alt="")
            .content
              | Для предпринимателей,
              br
              |  которые ищут новые
              br
              |  идеи и серьёзные
              br
              |  источники дохода
          .item
            .img
              img(src="assets/img/wr3-item3.png", alt="")
            .content
              | Для новичков
              br
              |  в бизнесе, которые
              br
              |  хотят обеспечить
              br
              |  себе успешный старт
          .item
            .img
              img(src="assets/img/wr3-item4.png", alt="")
            .content
              | Кто устал тратить все
              br
              |  деньги на потребление
              br
              |  и хочет вырваться
              br
              |  из «крысиных бегов»
          .item
            .img
              img(src="assets/img/wr3-item5.png", alt="")
            .content
              | Кто уже знает
              br
              |  о криптовалюте, но не
              br
              |  понимает как это быстро
              br
              |  и эффективно использовать
              br
              |  для достойного заработка
          .item
            .img
              img(src="assets/img/wr3-item6.png", alt="")
            .content
              | Для тех, кто
              br
              |  работает по
              br
              |  найму и хочет
              br
              |  стать финансово
              br
              |  независимым
          .item
            .img
              img(src="assets/img/wr3-item7.png", alt="")
            .content
              | Кто не верит
              br
              |  в чудеса лёгкого
              br
              |  обогащения и готов
              br
              |  потрудиться ради
              br
              |  благодатного будущего
        .btn-default.part-click(data-toggle="modal", data-target="#modal-part",data-ya_metrika_submit="Foranyone_form_Submit",data-ya_action="click",data-ya_metrika="Foranyone_form_Click",data-google="y",data-ya_switch="true") Принять участие
    .wr.wr4
      .block
        .title
          | Сколько вообще можно
          br
          |  на этом заработать?
        .box
          .grafik
            //img(src="assets/img/grafik-main.png", alt="")
            .btcwdgt-chart(bw-theme="light")
          .content
            .text
              | Если бы Вы в 2010 году купили 10.000 Bitcoin за 25$,
              br
              |  то сейчас Ваше состояние составило бы чуть более
            .num $ 71 млн.
            .emp
              span Сейчас
              br
              span  самое время начать!
        .btn-default.part-click(data-toggle="modal", data-target="#modal-part",data-ya_metrika_submit="HowMuchMoney_Submit",data-ya_action="click",data-ya_metrika="HowMuchMoney_Click",data-google="y",data-ya_switch="true") Принять участие
    .wr.wr5
      .block
        .title Что будет на мастер классе?
        .box
          .item.item1
            .img
              img(src="assets/img/wr5-icon1.png", alt="")
            .item-title
              | Что такое криптовалюта
              br
              |  простыми словами?
            .item-content
              | Мы подробно разберем,
              br
              |  что такое криптовалюта,
              br
              |  откуда она появилась, как работает,
              br
              |  как развивается рынок криптовалют,
              br
              |  что будет в будущем, и как
              br
              |  использовать это в своих целях
          .item.item2
            .img
              img(src="assets/img/wr5-icon2.png", alt="")
            .item-title
              | Как именно вы можете
              br
              |  заработать на этом рынке?
            .item-content
              | Мы рассмотрим несколько
              br
              |  стратегий заработка на этом рынке,
              br
              |  включая долгосрочное
              br
              |  инвестирование в различные
              br
              |  инструменты, покупка перспективных
              br
              |  монет, ICO и майнинг
          .item.item3
            .img
              img(src="assets/img/wr5-icon3.png", alt="")
            .item-title
              | Как получать от
              span.gross  1800%
              br
              |  в год на криптовалютах?
            .item-content
              | Какие криптовалюты сейчас есть
              br
              |  на рынке, и в чем их различия,
              br
              |  сколько они стоят и как, инвестируя
              br
              |  в них, получить доходность
              br
              |  от 1800% годовых и создать
              br
              |  значительный капитал(на личных кейсах)
          .item.item4
            .img
              img(src="assets/img/wr5-icon4.png", alt="")
            .item-title
              | Как даже из
              span.gross  $100
              |  в месяц
              br
              |  сделать
              span.yellow  $1
              |  млн.?
            .item-content
              | Как, инвестируя по $100
              br
              |  в криптовалюту ежемесячно,
              br
              |  можно создать капитал
              br
              |  более $1 млн. всего за 3 года.
              br
              |  Во что конкретно нужно инвестирировать
              br
              |  и какие криптовалюты покупать
          .item.item5
            .img
              img(src="assets/img/wr5-icon5.png", alt="")
            .item-title
              | Как начать зарабатывать
              br
              span.gross2  прямо сегодня?
            .item-content
              | Что конкретно  сделать,
              br
              |  чтобы использовать
              br
              |  возможности рынка
              br
              |  криптовалют уже сегодня,
              br
              |  начать получать доход и быстро
              br
              |  нарастить капитал, не выходя из дома
        .btn-default.part-click(data-toggle="modal", data-target="#modal-part",data-ya_metrika_submit="What_will_happen_Submit",data-ya_action="click",data-ya_metrika="What_will_happen_Click",data-google="y",data-ya_switch="true") Принять участие
    .wr.wr6
      .block
        .title Главы стран и СМИ о криптовалюте
        .box
          .item.item1
            .img.open-video(data-toggle="modal", data-target="#modal-video1")
            .content
              p.italic
                | «Каменный век кончился не потому,
                br
                |  что камни кончились, а потому,
                br
                |  что появились новые технологии.
                br
                |  Они появляются в мире. И тот,
                br
                |  кто опоздает в этом соревновании,
                br
                |  он мгновенно, я хочу это подчеркнуть,
                br
                |  он во всяком случае очень быстро
                br
                |  попадет в полную зависимость
                br
                |  от лидеров этого процесса»
              p Путин В.В. (Президент России)
          .item.item2
            .img.open-video(data-toggle="modal", data-target="#modal-video2")
            .content
              p
                | Соединенные Штаты Америки
                br
                |  официально признали биткоин.
              p
                | Комиссия по торговле
                br
                |  товарными фьючерсами
                br
                |  разрешила продажу биткоинов
                br
                |  на Чикагской товарной бирже
          .item.item3
            .img.open-video(data-toggle="modal", data-target="#modal-video3")
            .content
              p
                | Беларуссия стала первой
                br
                |  в мире страной, которая
                br
                |  легализовала криптовалюты
                br
                |  на государственном уровне.
              p
                | 22 декабря президент
                br
                |  страны Александр Лукашенко
                br
                |  подписал декрет
                br
                |  "О развитии цифровой экономики"
          .item.item4
            .img.open-video(data-toggle="modal", data-target="#modal-video4")
            .content
              p.italic
                | Биткоин воспринимают как угрозу,
                br
                |  потому, что не понимают.
                br
                |  Главный навык успешного человека
                br
                |  видеть возможность там,
                br
                |  где другие видят угрозу.
                br
                |  Таким образом, только 7% видят
                br
                |  в биткоине возможность,
                br
                |  остальные 97%, угрозу.
              p (с) Радислав Гандопас
    .wr.wr7
      .block
        .title
          | Текущая доходность инвестиционных
          br
          |  инструментов за последний год
        .box
          .item
            .content
              p.p1 Акции
              p.p2 Золото
              p.p3 Доходность за 1 год
              p.p4 5%
            .img
              img(src="assets/img/wr7-item1.png", alt="")
          .item
            .content
              p.p1 Акции
              p.p2 Сбербанк
              p.p3 Доходность за 1 год
              p.p4 16%
            .img
              img(src="assets/img/wr7-item2.png", alt="")
          .item
            .content
              p.p1 Акции
              p.p2 Биткоин
              p.p3 Доходность за 1 год
              p.p4 282,5%
            .img
              .fa-btc
        .grafik
          .gr-title Доходность инвестиционных инструментов за 2017 год
          .img
            img(src="assets/img/grafik.png", alt="")
        .btn-group
          .subtitle Узнайте какие инструменты будут самыми доходными в 2018 году
          .btn-default.openzvonok-yandex(data-toggle="modal", data-target="#modal-zvonok",data-ya_metrika_submit="Most_Annual_Instruments_in_2018_Submit",data-ya_action="click",data-ya_metrika="Most_Annual_Instruments_in_2018_Click",data-google="y",data-ya_switch="true") Узнать сейчас
    .wr.wr8
      .block
        .title
          | Почему стоит разобраться
          br
          |  в этом именно сейчас?
        .item.item1
          .box
            .cont1
              | Bitcoin в начале года
              br
              span.light-orange  стоимость 900$
            .img
              .fa-btc
            .cont2
              | Сейчас
              br
              span.light-orange  свыше
                span.gross  17 000$
          .content
            | Если бы вы купили Биткоин на 1000$ в начале 2017 года, когда он стоил 900$,
            br
            |  то 15 декабря 2017 года вы смогли бы продать его за 17.700$. Ваши 1000$ превратились бы в 196 666$.
            br
            span.light-orange   Прибыль более 1900% годовых
        .item.item2
          .box
            .cont1
              | Litecoin в начале года
              br
              span.light-orange  стоимость 4$
            .img
              img(src="assets/img/wr8-item2.png", alt="")
            .cont2
              | Сейчас
              br
              span.light-orange  свыше
                span.gross  250$
          .content
            | Если бы вы купили Лайткоин на 1000$ в начале 2017 года, когда он стоил 4$,
            br
            |  то 15 декабря 2017 года вы смогли бы продать его за 250$. Ваши 1000$ превратились бы в 62 500$.
            br
            span.light-orange  Прибыль более 62 500% годовых
        .item.item3
          .box
            .cont1
              | Ethereum в начале года
              br
              span.light-orange  стоимость 17$
            .img
              img(src="assets/img/wr8-item3.png", alt="")
            .cont2
              | Сейчас
              br
              span.light-orange  свыше
                span.gross   600$
          .content
            | Если бы вы купили Ethereum на 1000$ в начале 2017 года, когда он стоил 4$,
            br
            |  то 15 декабря 2017 года вы смогли бы продать его за 250$. Ваши 1000$ превратились бы в 62 500$.
            br
            span.light-orange  Прибыль более 62 500% годовых
    .wr.wr9
      .block
        form.order-form(action="mailer.php", method="post")
          input(type="hidden", name="tag", value="#запись_на_мастер_класс")
          input(type="hidden", name="yandex-js", value="Footer_Form_Submit")
          input(type="hidden", name="google-js", value="y")
          .form-title К сожалению 2017 год вы уже упустили, как для вас сложится 2018 год, решать только вам.
          .form-subtitle Запишитесь на мастер-класс и начните зарабатывать уже сегодня!
          .box
            input.form-control(type="text",name="name",placeholder="Ваше имя",data-ya_action="click",data-ya_metrika="Footer_Form_Click",data-google="y",data-ya_switch="true")
            input.form-control(type="text",name="phone",placeholder="Ваш телефон",data-ya_action="click",data-ya_metrika="Footer_Form_Click",data-google="y",data-ya_switch="true")
            button.btn-default(type="submit")  Записаться
          .check-privacy
            input(type="checkbox",name="privacy",value="",checked="checked")
            label Нажимая на кнопку, вы даете согласие на обработку своих персональных данных  и соглашаетесь с
            span.open-privacy  Политикой конфиденциальности
    .wr.wr10
      .block
        .img
          img(src="assets/img/wr10.png", alt="")
          .floor
            span.s1 24
            br
            span.s2  эт
        .box
          .info
            .item-title Телефон:
            a.item-phone(tel="+74992131012") 8 (499) 213-10-12
            .item-title Адрес:
            .item-content
              | г. Москва, Пресненская наб, 12
              br
              |  Башня Федерация Восток,
              br
              |  этаж, 24, офис, Level
            .item-title Метро:
            .item-content Деловой Центр / Международная
          .map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6ed5a568263dfa6731494f653a3fdd1ace1ae772285d9830831b387b42954daf&amp;source=constructor" width="470" height="330" frameborder="0"></iframe>


  #modal-video1.modal-video.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button", data-dismiss="modal")
        .modal-title Путин В.В. о криптовалюте
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wAzPbQjBZe4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  #modal-video2.modal-video.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button", data-dismiss="modal")
        .modal-title США официально признали биткоин
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tKLCezSHgog" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  #modal-video3.modal-video.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button", data-dismiss="modal")
        .modal-title Лукашенко легализовал криптовалюты
        <iframe width="560" height="315" src="https://www.youtube.com/embed/O1pG_cO67mo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  #modal-video4.modal-video.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button", data-dismiss="modal")
        .modal-title Радислав Гандопас о Bitcoin
        <iframe width="560" height="315" src="https://www.youtube.com/embed/epI1j4z5hJk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  .modal.fade#modal-zvonok(tabindex="-1",role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button",data-dismiss="modal")
        .modal-title Введите ваш номер телефона
        .modal-subtitle Мы свяжемся с вами в течении 1 минуты и ответим на ваши вопросы
        .modal-body
          form.order-form(action="mailer.php",method="post")
            input(type="hidden", name="yandex-js", value="Heder_OrderCall_Submit")
            input(type="hidden", name="google-js", value="y")
            .btn-group
              input.form-control(type="text",name="name",placeholder="Ваше имя")
            .btn-group
              input.form-control(type="tel",name="phone",placeholder="Ваш телефон")
            .check-privacy
              input(type="checkbox",name="privacy",value="",checked="checked")
              label Нажимая на кнопку, вы даете согласие на обработку своих персональных данных  и соглашаетесь с
              a.open-privacy  Политикой конфиденциальности
            .btn-group
              button.btn-default(type="submit") Узнать дату
  .modal.fade#modal-part(tabindex="-1",role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button",data-dismiss="modal")
        .modal-title Введите номер, чтобы получить бесплатный билет
        .modal-subtitle
          | На самое масштабное мероприятие
          br
          |  по криптовалюте в Москве
        .modal-body
          form.order-form(action="mailer.php",method="post")
            input(type="hidden", name="tag", value="#бесплатный_билет")
            input(type="hidden", name="yandex-js", value="")
            input(type="hidden", name="google-js", value="y")
            .btn-group
              input.form-control(type="text",name="name",placeholder="Ваше имя")
            .btn-group
              input.form-control(type="tel",name="phone",placeholder="Ваш телефон")
            .check-privacy
              input(type="checkbox",name="privacy",value="",checked="checked")
              label Нажимая на кнопку, вы даете согласие на обработку своих персональных данных  и соглашаетесь с
              a.open-privacy  Политикой конфиденциальности
            .btn-group
              button.btn-default(type="submit") Принять участие
  .modal.fade#senk(tabindex="-1",role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button",data-dismiss="modal")
        .modal-title Спасибо за Ваше обращение
        .modal-subtitle Наш менеджер с вами свяжется
  .modal.fade#modal-privacy(tabindex="-1",role="dialog")
    .modal-dialog
      .modal-content
        button.close(type="button",data-dismiss="modal")
        .title ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        p.p.p-tit г. Москва «10» января 2017 года
        .subtitle   Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую администратор сайта «Prof Rem Group», расположенный на доменном имени www.remontprg.ru , может получить о Пользователе во время использования сайта, программ и продуктов сайта.
        .description
          p.p-title 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
          p.p 1.1. В настоящей Политике конфиденциальности используются следующие термины:
          p.p 1.1.1. «Администрация сайта «Prof Rem Group» (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации,  которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
          p.p 1.1.2. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
          p.p 1.1.3. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
          p.p 1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
          p.p 1.1.5. «Пользователь сайта «Prof Rem Group»(далее  Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
          p.p 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
          p.p 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
          p.p-title 2. ОБЩИЕ ПОЛОЖЕНИЯ
          p.p 2.1. Администрация сайта обязуется использовать Персональные данные в соответствии с Федеральным Законом «О персональных данных» № 152-ФЗ от 27 июля 2006 г. и внутренними документами Пользователя.
          p.p 2.2.   Использование Пользователем сайта «Prof Rem Group» означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
          p.p 2.3.   В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта «Prof Rem Group».
          p.p 2.4.   Настоящая Политика конфиденциальности применяется только к сайту «Prof Rem Group». Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте «Prof Rem Group».
          p.p 2.5.   Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта «Prof Rem Group».
          p.p-title 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
          p.p 3.1.   Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте или при оформлении заказа для приобретения Товара или Услуги.
          p.p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте «Prof Rem Group» и включают в себя следующую информацию:
          p.p 3.2.1. фамилию, имя, отчество Пользователя;
          p.p 3.2.2. контактный телефон Пользователя;
          p.p 3.2.3. адрес электронной почты (email);
          p.p 3.2.4. адрес оказания Услуги
          p.p 3.2.5. место жительство Пользователя.
          p.p 3.3. Сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы («пиксель»):
            | IP адрес;
            | информация из cookies;
            | информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
            | время доступа;
            | адрес страницы, на которой расположен рекламный блок;
            | реферер (адрес предыдущей страницы).
          p.p 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации.
          p.p 3.3.2. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
          p.p 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
          p.p-title  4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
          p.p 4.1. Персональные данные Пользователя Администрация Сайта может использовать в целях:
          p.p 4.1.1. Идентификации Пользователя, зарегистрированного на сайте «Prof Rem Group», для оформления заказа и (или) заключения Договора купли-продажи товара или услуги дистанционным способом с сайта «Prof Rem Group».
          p.p 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта «Prof Rem Group».
          p.p 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта «Prof Rem Group», оказания услуг, обработка запросов и заявок от Пользователя.
          p.p 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
          p.p 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
          p.p 4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
          p.p 4.1.7. Уведомления Пользователя Сайта «Prof Rem Group» о состоянии Заказа.
          p.p 4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
          p.p 4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта «Prof Rem Group».
          p.p 4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта «Prof Rem Group» или от имени партнеров.
          p.p 4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
          p.p 4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров сайта «Prof Rem Group» с целью получения продуктов, обновлений и услуг.
          p.p-title  5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
          p.p 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
          p.p 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте «Prof Rem Group», включая доставку Товара.
          p.p 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
          p.p 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
          p.p 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
          p.p 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
          p.p-title 6. ОБЯЗАТЕЛЬСТВА СТОРОН
          p.p 6.1. Пользователь обязан:
          p.p 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом «Prof Rem Group».
          p.p 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
          p.p 6.2. Администрация сайта обязана:
          p.p 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
          p.p 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
          p.p 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
          p.p 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
          p.p-title 7. ОТВЕТСТВЕННОСТЬ СТОРОН
          p.p 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
          p.p 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
          p.p 7.2.1. Стала публичным достоянием до её утраты или разглашения.
          p.p 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
          p.p 7.2.3. Была разглашена с согласия Пользователя.
          p.p-title 8. РАЗРЕШЕНИЕ СПОРОВ
          p.p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта «Prof Rem Group. Ремонт под ключ» и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
          p.p 8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
          p.p 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
          p.p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
          p.p-title 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
          p.p 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
          p.p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте «Prof Rem Group», если иное не предусмотрено новой редакцией Политики конфиденциальности.
          p.p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать на указанные на сайте «Prof Rem Group» контактные данные.
          p.p 9.4. Действующая Политика конфиденциальности размещена сайте по адресу www.remontprg.ru.

